body {
  font-family: "Dancing Script", cursive;
  margin: 0;
  background-color: #f0f0c9;
  border: 13px solid #000000;
  border-radius: 20px;
  min-height: 100vh;
  padding: 1.5rem;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}
